/* .navbar {
    display: flex;
} */

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2.5rem 0 2.5rem;
}

.logo {
  width: 4rem;
  height: 4rem;
}
ul.nav-items {
  text-decoration: none;
  list-style: none;
  display: flex;
  margin: 10px;
}

.nav-innerlink {
  text-decoration: none;
  color: #000000;
  font-size: 15px;
}

/* .nav-button {
    color: #fff;
    border: 1px solid #F5A623;
    background-color: #F5A623;
    border-radius: 2px;
    padding: 05px;
    margin: -3px 0px -3px 20px;
    cursor: pointer;
} */
